@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --Primary-blue: hsl(246, 80%, 60%);

  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

body {
  background-color: var(--Very-dark-blue);
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

* {
  box-sizing: inherit;
  font-family: 'Rubik', sans-serif;
}

/* ---Grid display--- */

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 80vw;
}

/* ---Card--- */

/* ---Card Header--- */

.card-header {
  position: relative;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.taskIcon {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  z-index: 100;
}

.work {
  background: linear-gradient(
    180deg,
    var(--Light-red-work),
    var(--Light-red-work) 64%,
    #1c1f4a 66%,
    #1c1f4a
  );
}

.study {
  background: linear-gradient(
    180deg,
    var(--Light-red-study),
    var(--Light-red-study) 64%,
    #1c1f4a 66%,
    #1c1f4a
  );
}

.play {
  background: linear-gradient(
    180deg,
    var(--Soft-blue-play),
    var(--Soft-blue-play) 64%,
    #1c1f4a 66%,
    #1c1f4a
  );
}

.exercise {
  background: linear-gradient(
    180deg,
    var(--Lime-green-exercise),
    var(--Lime-green-exercise) 64%,
    #1c1f4a 66%,
    #1c1f4a
  );
}

.self-care {
  background: linear-gradient(
    180deg,
    var(--Soft-orange-self-care),
    var(--Soft-orange-self-care) 64%,
    #1c1f4a 66%,
    #1c1f4a
  );
}

.social {
  background: linear-gradient(
    180deg,
    var(--Violet-social),
    var(--Violet-social) 64%,
    #1c1f4a 66%,
    #1c1f4a
  );
}

/* ---Card container--- */

.card-container {
  flex-direction: column;
  width: 100%;
  background-color: var(--Dark-blue);
  border-radius: 1rem;
  color: #fff;
  padding: 2rem;
  cursor: pointer;
  margin-top: 3rem;
  z-index: 1000;
}

.card-container:hover {
  background-color: var(--Desaturated-blue);
}

.card-title {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.task {
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}

.btn-configure {
  display: flex;
  align-items: center;
  padding: 0.1rem;
}

.hours {
  font-weight: 300;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.previous-time {
  color: var(--Pale-Blue);
}

/* ---Profile--- */

.profileWrapper {
  grid-row: 1 / 3;
  background-color: var(--Dark-blue);
  border-radius: 1rem;
}

.profileInfo {
  width: 100%;
  min-height: 70%;
  background-color: var(--Primary-blue);
  border-radius: 1rem;
  padding: 2rem;
}

.profileInfo img {
  width: 50%;
  border: #fff solid;
  border-radius: 50%;
}

.profileInfo .profileName {
  padding-top: 2rem;
}

.profileInfo label {
  color: var(--Pale-Blue);
}

.profileInfo h1 {
  font-weight: 300;
  font-size: 2.5rem;
  margin: 0;
}

.timeframes-list {
  color: var(--Pale-Blue);
  font-size: 1.1rem;
  margin: 0;
  padding: 1.5rem 2rem;
}

.timeframes-list label {
  margin: 0;
  padding-bottom: 1rem;
  cursor: pointer;
  display: block;
}

.timeframes-list label:hover {
  color: #fff;
}

.timeframes-list input {
  display: none;
}

input:checked + label {
  color: #fff;
}
